@import "tailwindcss";

*{
    color: #fff;
}


body{
    background-color: #111;
}


#TaskList {
  scrollbar-width: none;       
  -ms-overflow-style: none;    
}

#TaskList::-webkit-scrollbar {
  display: none;               
}
